<%= form_for([@supplier, @supplier.products.build]) do |f| %>
  <p>
    <%= f.label :ean %><br>
    <%= f.text_field :ean %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
