<h1>Listing Suppliers</h1>

<%= link_to 'New supplier', new_supplier_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
  </tr>

  <% @suppliers.each do |supplier| %>
    <tr>
      <td><%= supplier.name %></td>
      <td><%= supplier.address %></td>
      <td><%= link_to 'Show', supplier_path(supplier) %></td>
      <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
      <td><%= link_to 'Destroy', supplier_path(supplier),
              method: :delete,
              data: { confirm: 'Do not worry it is a soft delete. Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
